<div id="title_action" class= col-md-6>
  <div class="alert alert-success" role="alert">
    <span class="fa fa-check-circle" style="vertical-align: middle; font-size:150px;color: #026991;" aria-hidden="true"></span><span style="margin-left: 10px; vertical-align: middle; font-size:30px;color: #026991;">Déploiement terminé</span>
  </div>
</div>