<div id="title_action" class= col-md-6>
  <div class="alert alert-danger" role="alert">
    <span class="fa fa-exclamation-circle" style="vertical-align: middle; font-size:150px;color: #AA4643;" aria-hidden="true"></span><span style="margin-left: 10px; vertical-align: middle; font-size:30px;color: #AA4643;">Erreur lors du déploiement</span>
  </div>
</div>